!!!5
%html
  %head
    %link{:href => '/stylesheet.css', :media => "screen", :rel => "stylesheet", :type => "text/css"}
    %meta{:name => 'description', :content => 'How cool is your twitter account?'}
    %meta{:name => 'author', :content => 'Andrew Nesbitt'}
    %meta{:name => 'viewport', :content => 'width=device-width; initial-scale=1.0; maximum-scale=1.0;'}
    %title
      Cool-o-Meter
  %body
    #main= yield
    %footer
      %a{:href => '/'}
        Home
      |
      %a{:href => '/leaderboard'}
        Leaderboard
      |
      Copyright &copy;
      %a{:href => 'http://teabass.com'}
        Andrew Nesbitt
    :javascript
      var _gaq = _gaq || [];
       _gaq.push(['_setAccount', 'UA-265870-23']);
       _gaq.push(['_trackPageview']);

       (function() {
         var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
         ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
         var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
       })();