!!!5
%html
  %head
    %link{:href => '/stylesheet.css', :media => "screen", :rel => "stylesheet", :type => "text/css"}
    %meta{:name => 'description', :content => 'How cool is your twitter account?'}
    %meta{:name => 'author', :content => 'Andrew Nesbitt'}
    %meta{:name => 'viewport', :content => 'width=device-width; initial-scale=1.0; maximum-scale=1.0;'}
    %title
      Cool-o-Meter
  %body
    = yield