body{
  font-family: Helvetica, Arial, sans-serif;
  font-size:20px;
  font-weight:bold;
}

#main{
  min-height:300px;
}

.user img{
  float:left;
  margin-right:5px;
}

a{
  color:#0A5EB6;
}

footer, footer a{
  color:#bbb;
  font-size: 12px;
}

#leaderboard{
  border:none;
}
td,th{
  padding:2px;
}